# direct_url (excel export): set CISDM_<REPORT>_EXPORT_URL to full ExcelExport.aspx?... URL
# for year-scoped reports, this is a template for the current school year; use
# `cisiphyus pull <report_id> --school-year SY24-25` for historical years (see reports.yaml)
CISDM_STUDENT_METRICS_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
# context page (optional, per report): module/form page visited before export so CISDM
# issues the Context_CaseWorthy session cookie; copy from address bar while on that page
CISDM_STUDENT_METRICS_CONTEXT_URL='https://cw.caseworthy.net/CaseWorthy/...'
CISDM_ATTENDANCE_TRACKING_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
CISDM_CHECK_IN_ENTRIES_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
CISDM_CASE_MANAGEMENT_ENTRIES_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
CISDM_BASIC_NEEDS_STUDENT_SUMMARY_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
CISDM_BASIC_NEEDS_SCHOOL_SUMMARY_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
# deprecated legacy alias used by report_id=basic_needs during transition
CISDM_BASIC_NEEDS_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
CISDM_SCHOOL_COMMUNITY_CHARACTERISTICS_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
# school-level exports: year lives in @XSchoolNeedsAssess_X_SchoolYear inside LS; rewritten per pull like @Enrollment_ProgramID
CISDM_SCHOOL_NEEDS_SUMMARY_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
CISDM_SCHOOL_NEEDS_ASSESSMENT_SCHOOL_DEMOGRAPHICS_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
CISDM_SCHOOL_NEEDS_ASSESSMENT_IMPROVEMENT_PLAN_COMMUNITY_DATA_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
CISDM_SCHOOL_GOALS_PROGRESS_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
# ui_export (ssrs report viewer): set CISDM_<REPORT>_ENTRY_URL to ReportViewer.aspx?... from address bar
CISDM_TIER_I_SUPPORTS_ENTRY_URL='https://cw.caseworthy.net/CaseWorthy/ReportViewer.aspx?...'
CISDM_TIER_II_III_SUPPORTS_ENTRY_URL='https://cw.caseworthy.net/CaseWorthy/ReportViewer.aspx?...'
CISDM_USER_LOGINS_ENTRY_URL='https://cw.caseworthy.net/CaseWorthy/ReportViewer.aspx?...'
# ReportViewer summary (goal-area counts; sheet CIS_GoalAchievement_Summary)
CISDM_GOAL_ACHIEVEMENT_ENTRY_URL='https://cw.caseworthy.net/CaseWorthy/ReportViewer.aspx?FormID=1000002372&URLID=...'
