# direct_url (excel export): set CISDM_<REPORT>_EXPORT_URL to full ExcelExport.aspx?... URL
CISDM_STUDENT_METRICS_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
CISDM_ATTENDANCE_TRACKING_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
CISDM_CHECK_IN_ENTRIES_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
CISDM_CASE_MANAGEMENT_ENTRIES_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
CISDM_BASIC_NEEDS_STUDENT_SUMMARY_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
CISDM_BASIC_NEEDS_SCHOOL_SUMMARY_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
# deprecated legacy alias used by report_id=basic_needs during transition
CISDM_BASIC_NEEDS_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
CISDM_SCHOOL_COMMUNITY_CHARACTERISTICS_EXPORT_URL='https://cw.caseworthy.net/CaseWorthy/ExcelExport.aspx?...'
# ui_export (ssrs report viewer): set CISDM_<REPORT>_ENTRY_URL to ReportViewer.aspx?... from address bar
CISDM_TIER_I_SUPPORTS_ENTRY_URL='https://cw.caseworthy.net/CaseWorthy/ReportViewer.aspx?...'
CISDM_TIER_II_III_SUPPORTS_ENTRY_URL='https://cw.caseworthy.net/CaseWorthy/ReportViewer.aspx?...'
CISDM_USER_LOGINS_ENTRY_URL='https://cw.caseworthy.net/CaseWorthy/ReportViewer.aspx?...'
